{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Stock Data</title>
    
    <link rel="stylesheet" href="/static/css/error.css" />
    <link rel="stylesheet" href="/static/css/table_styles.css" />
    <link rel="stylesheet" href="/static/css/button_styles.css" />
    <link rel="stylesheet" href="/static/css/chart_styles.css" />
    <link rel="stylesheet" href="/static/css/status_styles.css" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id='crud-status'></div>

    <header class="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                JANATAWIFI
            </a>
        </nav>
        
    </header>
        <div class="chart-container" style='margin-top: 100px'>
            <button></button>
            <canvas id="lineChart" ></canvas>
        </div>
    <main class="table" style='margin-top: 100px'>
        <section class="table__header">
            <h1>Stock Data</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="static/images/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Trade Code</th>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in stock_data %}
                        <tr data-id="{{ data.id }}">
                            <td>{{ data.id }}</td>
                            <td>{{ data.trade_code }}</td>
                            <td>{{ data.date }}</td>
                            <td>{{ data.open }}</td>
                            <td>{{ data.high }}</td>
                            <td>{{ data.low }}</td>
                            <td>{{ data.close }}</td>
                            <td>{{ data.volume }}</td>
                            <td><button id = "button{{ data.id }}" class='button-x' onclick="editRow(this)">Edit</button></td>
                            <td><button onclick="deleteRow(this)" class='button-24'>Delete</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <script src="/static/js/script.js">
        
        
    </script>

    <script>
        var chartData = JSON.parse('{{ chart_data|safe }}');

        // Extract dates and close values for x and y axes
        var dates = chartData.map(entry => entry.date);
        var closeValues = chartData.map(entry => entry.close);


        // Get the canvas element
        var ctx = document.getElementById('lineChart').getContext('2d');
        
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Close Values',
                    data: closeValues,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    pointHoverRadius: 8,
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            unitStepSize: 20,
                            displayFormats: {
                                day: 'MMM DD'
                            }
                        }
                    }],
                    y: {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                },
                elements: {
                    point: {
                        radius: 2 // Set the radius of points to 0 for a line chart
                    }
                },
                layout: {
                    padding: {
                        left: 20, // Adjust left padding as needed
                        right: 20 // Adjust right padding as needed
                    }
                }
            }
        });

    </script>

</body>
</html>